.title {
    width: 630px;
    color: #E7E7E7;
    font-size: 16px;
    font-family: 'SB Sans Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
}