.header {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 12px    ;
}
.content {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
}

.buttonBlock {
    display: flex;
    gap: 12px;
}
.titleBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;

}
.middle {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 60px;

}


.midleBlock {
    position: relative;
    width: 100%;
    max-width: 630px; /* Фиксированная ширина */
    height: auto; /* Высота автоматически рассчитывается */
    margin: 376px 0 0 80px; /* Задаем отступы с помощью margin */
    gap: 32px; /* Расстояние между элементами */
}

.imageContainer {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    z-index: 1;
}

.imageContainer img {
    width: 100%;
    height: auto;
}

.opportunities {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 60px
}
