.title {
    width: 630px;
    color: #FFFFFF;
    font-size: 82px;
    font-family: 'SB Sans Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    word-wrap: break-word;
}